@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* Width and height of the scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Color of the scrollbar track */
  ::-webkit-scrollbar-track {
    opacity: 0.5;
  }
  
  /* Styles for the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background-color: #024353;
    border-radius: 4px;
  }
  
  /* On hover, increase the size of the scrollbar handle */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #004261;
  }

  .modal {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

  .bg_image {background-image: url("https://images.unsplash.com/photo-1610989432929-9769f3cf8006?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

